@charset "UTF-8";

/* ----------------------------------------------------------------------
 全体
---------------------------------------------------------------------- */
.country-region-wrapper {
    width: 100%;
    max-width: 980px;
    margin: 80px auto;
    box-sizing: border-box;
    font-size: 10px;
}

.country-region-wrapper * {
    box-sizing: inherit;
}

.country-region-wrapper h1,
.country-region-wrapper h2,
.country-region-wrapper h3 {
    margin: 0;
    padding: 0;
}

.country-region-wrapper ul,
.country-region-wrapper li {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 600px) {
    .country-region-wrapper {
        font-size: 9px;
    }
}

/* ----------------------------------------------------------------------
 .cr-article
---------------------------------------------------------------------- */
.cr-article {
    width: 100%;
}

.cr-article:not(:last-child) {
    margin-bottom: 120px;
}

/* ----------------------------------------------------------------------
 .cr-header
---------------------------------------------------------------------- */
.cr-header {
    width: 100%;
    margin-bottom: 46px;
    padding: 24px 0px 0px 28px;
    position: relative;
}

.cr-header h2.title {
    max-width: 80%;
    padding: 12px 44px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #003D9C;
    display: inline-block;
    font-size: 2.2em;
    line-height: 1.4;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.cr-header .image {
    width: 100%;
    height: 180px;
    background-position: center;
    background-size: cover;
    z-index: -10;
}

@media screen and (min-width: 650px) {
    .cr-header {
        margin-bottom: 66px;
    }

    .cr-header .image {
        height: 240px;
    }
}

@media screen and (min-width: 980px) {
    .cr-header .image {
        height: 300px;
    }
}

/* ----------------------------------------------------------------------
 .cr-section
---------------------------------------------------------------------- */
.cr-section {
    width: 100%;
    max-width: 680px;
    margin: 0px auto;
    padding: 0px 20px;
    color: #4D4D4D;
}

.cr-section:not(:last-child) {
    margin-bottom: 40px;
}

.cr-section h3.title {
    margin-bottom: 10px;
    font-size: 1.8em;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
}

.cr-section p.text {
    font-size: 1.6em;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-indent: 1.0em;
    text-align: justify;
}

@media screen and (min-width: 650px) {
    .cr-section:not(:last-child) {
        margin-bottom: 60px;
    }
}

/*画像リンク*/
/*---------------------------------------------------------------------- */
/* 共通スタイル */

.content-block {
    margin: 60px auto;
}

.image-link ul {
    width: 100%;
    margin: 60px auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 36px;
}

.image-link ul li {
    margin-right: 16px;
    margin-top: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.image-link ul li.i-02,
.image-link ul li.i-05 {
    margin-right: 0px;
}

/* 上2カラム */
.image-link ul li.pc-3c {
    width: calc((50% - 16px) / 2);
    margin-bottom: 16px;
    margin-right: 4px;
    margin-left: 4px;
    height: 160px;

}

/* 下3カラム */
.image-link ul li.pc-3c {
    width: calc((50% - 16px) / 2);
    margin-bottom: 16px;
    height: 160px;
}

.image-link ul li.social {
    width: calc((100% - 16px) / 2);
    margin-bottom: 16px;
    height: 339px;
}

.image-link ul li a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}

.image-link ul li:hover a {
    background-color: rgba(0, 0, 0, 0.5);
}

.image-link ul li a .wrap {
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
}

.image-link ul li a .wrap * {
    display: block;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.4px;
}

.image-link ul li a .wrap .title {
    font-family: Hiragino Sans;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 18px;
}

.image-link ul li a .wrap .holiday {
    font-family: Hiragino Sans;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 18px;
}

.image-link ul li.pc-3c a .wrap .title {
    margin-bottom: 0px;
    line-height: 1.3;
}

.image-link ul li.pc-3c a .wrap .holiday {
    margin-bottom: 0px;
    line-height: 1.3;
}

.image-link ul li a .wrap .text {
    font-family: Hiragino Sans-W6, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
    font-size: 0.55em;
}

.image-link ul li.pc-3c a .wrap .text {
    display: none;
}

.image-link ul li a .bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    display: block;
    z-index: -100;
    -webkit-transition: .3s;
    transition: .3s;
}

.image-link ul li:hover a .bg-image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (max-width: 750px) {
    /* 上1カラム */
    .image-link ul li.sp-1c {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .image-link ul li.pc-3c {
        margin-left: 20px;
        width: 177px;
        height: 177px;
    }

    /* 中2カラム, 下2カラム */
    .image-link ul li.sp-2c a .wrap .title {
        margin-bottom: 0px;
    }

    .image-link ul li.sp-2c a .wrap .text {
        display: none;
    }

    .image-link ul li.i-03,
    .image-link ul li.i-05 {
        margin-right: 0px;
    }

    .only-desktop {
        display: none;
    }

    .only-smartphone {
        display: inline;
    }

    .image-link ul li {
        margin-top: 0;

    }

    .image-link ul li a .wrap .holiday {
        font-family: Hiragino Sans;
        font-size: 0.8em;
        line-height: 1.2;
        margin-bottom: 9px;
    }
}

@media screen and (max-width: 500px) {

    .image-link ul {
        font-size: 32px;
    }

    .image-link ul li.pc-3c {
        width: 177px;
        margin-bottom: 20px;
    }

    .image-link ul li.sp-1c {
        height: 280px;
    }

    .image-link ul li.sp-2c {

        width: 177px;
        margin-bottom: 20px;
        margin-left: 20px;
        height: 177px;

    }

    .image-link ul li a .wrap {
        padding: 15px;
    }

    .image-link ul li {
        margin-top: 0;

    }

    .image-link ul li {
        margin-top: 0;

    }

    .image-link ul li a .wrap .holiday {
        font-family: Hiragino Sans;
        font-size: 0.8em;
        line-height: 1.2;
        margin-bottom: 9px;
    }
}

@media screen and (max-width: 400px) {
    .image-link ul {
        font-size: 29px;
    }

    .image-link ul li a {
        width: 100%;
        margin-bottom: 20px;
    }

    .image-link ul li.pc-3c {
        width: calc((90% - 20px) / 2);
        margin-bottom: 20px;
        height: 158px;
    }

    .image-link ul li.sp-1c {
        height: 280px;
    }

    .image-link ul li.sp-2c {
        width: calc((90% - 20px) / 2);
        margin-bottom: 20px;
        height: 158px;
    }

    .image-link ul li a .wrap {
        padding: 15px;
    }

    .image-link ul li {
        margin-top: 0;

    }

    .image-link ul li {
        margin-top: 0;

    }

    .image-link ul li a .wrap .holiday {
        font-family: Hiragino Sans;
        font-size: 0.8em;
        line-height: 1.2;
        margin-bottom: 9px;
    }
}

.image-link ul {
    width: 100%;
    margin: 60px auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 36px;
}

.image-link ul li {
    margin-right: 16px;
    margin-top: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.image-link ul li.i-02,
.image-link ul li.i-05 {
    margin-right: 0px;
}

/* 上2カラム */
.image-link ul li.pc-3c {
    width: calc((50% - 16px) / 2);
    margin-bottom: 16px;
    margin-right: 4px;
    margin-left: 4px;
    height: 160px;

}

/* 下3カラム */
.image-link ul li.pc-3c {
    width: calc((50% - 16px) / 2);
    margin-bottom: 16px;
    height: 160px;
}

.image-link ul li a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}

.image-link ul li:hover a {
    background-color: rgba(0, 0, 0, 0.5);
}

.image-link ul li a .wrap {
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
}

.image-link ul li a .wrap * {
    display: block;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.4px;
}

.image-link ul li a .wrap .title {
    font-family: Hiragino Sans;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 18px;
}

.image-link ul li a .wrap .holiday {
    font-family: Hiragino Sans;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 18px;
}

.image-link ul li.pc-3c a .wrap .title {
    margin-bottom: 0px;
    line-height: 1.3;
}

.image-link ul li.pc-3c a .wrap .holiday {
    margin-bottom: 0px;
    line-height: 1.3;
}

.image-link ul li a .wrap .text {
    font-family: Hiragino Sans-W6, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
    font-size: 0.55em;
}

.image-link ul li.pc-3c a .wrap .text {
    display: none;
}

.image-link ul li a .bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    display: block;
    z-index: -100;
    -webkit-transition: .3s;
    transition: .3s;
}

.image-link ul li:hover a .bg-image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (max-width: 750px) {
    /* 上1カラム */
    .image-link ul li.sp-1c {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .image-link ul li.pc-3c {
        margin-left: 20px;
        width: 177px;
        height: 177px;
    }

    /* 中2カラム, 下2カラム */
    .image-link ul li.sp-2c a .wrap .title {
        margin-bottom: 0px;
    }

    .image-link ul li.sp-2c a .wrap .text {
        display: none;
    }

    .image-link ul li.i-03,
    .image-link ul li.i-05 {
        margin-right: 0px;
    }

    .only-desktop {
        display: none;
    }

    .only-smartphone {
        display: inline;
    }

    .image-link ul li {
        margin-top: 0;

    }

    .image-link ul li a .wrap .holiday {
        font-family: Hiragino Sans;
        font-size: 0.8em;
        line-height: 1.2;
        margin-bottom: 9px;
    }
}

@media screen and (max-width: 500px) {

    .image-link ul {
        font-size: 32px;
    }

    .image-link ul li.pc-3c {
        width: 177px;
        margin-bottom: 20px;
    }

    .image-link ul li.sp-1c {
        height: 280px;
    }

    .image-link ul li.sp-2c {

        width: 177px;
        margin-bottom: 20px;
        margin-left: 20px;
        height: 177px;

    }

    .image-link ul li a .wrap {
        padding: 15px;
    }

    .image-link ul li {
        margin-top: 0;

    }

    .image-link ul li {
        margin-top: 0;

    }

    .image-link ul li a .wrap .holiday {
        font-family: Hiragino Sans;
        font-size: 0.8em;
        line-height: 1.2;
        margin-bottom: 9px;
    }
}

@media screen and (max-width: 400px) {
    .image-link ul {
        font-size: 29px;
    }

    .image-link ul li a {
        width: 100%;
        margin-bottom: 20px;
    }

    .image-link ul li.pc-3c {
        width: calc((90% - 20px) / 2);
        margin-bottom: 20px;
        height: 158px;
    }

    .image-link ul li.sp-1c {
        height: 280px;
    }

    .image-link ul li.sp-2c {
        width: calc((90% - 20px) / 2);
        margin-bottom: 20px;
        height: 158px;
    }

    .image-link ul li a .wrap {
        padding: 15px;
    }

    .image-link ul li {
        margin-top: 0;

    }

    .image-link ul li {
        margin-top: 0;

    }

    .image-link ul li a .wrap .holiday {
        font-family: Hiragino Sans;
        font-size: 0.8em;
        line-height: 1.2;
        margin-bottom: 9px;
    }
}

/*社会人*/
.image-link-2 ul {
    width: 100%;
    margin: 60px auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 36px;
}

.image-link-2 ul li {
    margin-right: 16px;
    margin-top: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.image-link-2 ul li.i-02,
.image-link-2 ul li.i-05 {
    margin-right: 0px;
}

/* 上2カラム */
.image-link-2 ul li.pc-3c {
    width: calc((100% - 16px) / 2);
    margin-bottom: 16px;
    height: 160px;
}

/* 下3カラム */

.image-link-2 ul li a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}

.image-link-2 ul li:hover a {
    background-color: rgba(0, 0, 0, 0.5);
}

.image-link-2 ul li a .wrap {
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
}

.image-link-2 ul li a .wrap * {
    display: block;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.4px;
}

.image-link-2 ul li a .wrap .title {
    font-family: Hiragino Sans;
    font-size: 0.7em;
    line-height: 1.2;
    margin-bottom: 18px;
}

.image-link-2 ul li a .wrap .holiday {
    font-family: Hiragino Sans;
    font-size: 0.7em;
    line-height: 1.2;
    margin-bottom: 18px;
}

.image-link-2 ul li.pc-3c a .wrap .title {
    margin-bottom: 0px;
    line-height: 1.3;
}

.image-link-2 ul li.pc-3c a .wrap .holiday {
    margin-bottom: 0px;
    line-height: 1.3;
}

.image-link-2 ul li a .wrap .text {
    font-family: Hiragino Sans-W6, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
    font-size: 0.55em;
}

.image-link-2 ul li.pc-3c a .wrap .text {
    display: none;
}

.image-link-2 ul li a .bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    display: block;
    z-index: -100;
    -webkit-transition: .3s;
    transition: .3s;
}

.image-link-2 ul li:hover a .bg-image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (max-width: 750px) {
    /* 上1カラム */
    .image-link-2 ul li.sp-1c {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .image-link-2 ul li.pc-3c {
        margin-left: 20px;
        width: 177px;
        height: 177px;
    }

    /* 中2カラム, 下2カラム */
    .image-link-2 ul li.sp-2c a .wrap .title {
        margin-bottom: 0px;
    }

    .image-link-2 ul li.sp-2c a .wrap .text {
        display: none;
    }

    .image-link-2 ul li.i-03,
    .image-link-2 ul li.i-05 {
        margin-right: 0px;
    }

    .only-desktop {
        display: none;
    }

    .only-smartphone {
        display: inline;
    }

    .image-link-2 ul li {
        margin-top: 0;

    }

    .image-link-2 ul li a .wrap .title {
        font-family: Hiragino Sans;
        font-size: 0.56em;
        line-height: 1.2;
        margin-bottom: 18px;
    }

    .image-link-2 ul li a .wrap .holiday {
        font-family: Hiragino Sans;
        font-size: 0.46em;
        line-height: 1.2;
        margin-bottom: 9px;
    }

}

@media screen and (max-width: 500px) {

    .image-link-2 ul {
        font-size: 32px;
    }

    .image-link-2 ul li.pc-3c {
        width: 177px;
        margin-bottom: 20px;
    }

    .image-link-2 ul li.sp-1c {
        height: 280px;
    }

    .image-link-2 ul li.sp-2c {

        width: 177px;
        margin-bottom: 20px;
        margin-left: 20px;
        height: 177px;

    }

    .image-link-2 ul li a .wrap {
        padding: 15px;
    }

    .image-link-2 ul li {
        margin-top: 0;

    }

    .image-link-2 ul li {
        margin-top: 0;

    }

    .image-link-2 ul li a .wrap .title {
        font-family: Hiragino Sans;
        font-size: 0.56em;
        line-height: 1.2;
        margin-bottom: 18px;
    }

    .image-link-2 ul li a .wrap .holiday {
        font-family: Hiragino Sans;
        font-size: 0.46em;
        line-height: 1.2;
        margin-bottom: 9px;
    }
}

@media screen and (max-width: 400px) {
    .image-link-2 ul {
        font-size: 29px;
    }

    .image-link-2 ul li a {
        width: 100%;
        margin-bottom: 20px;
    }

    .image-link-2 ul li.pc-3c {
        width: calc((90% - 20px) / 2);
        margin-bottom: 20px;
        height: 158px;
    }

    .image-link-2 ul li.sp-1c {
        height: 280px;
    }

    .image-link-2 ul li.sp-2c {
        width: calc((90% - 20px) / 2);
        margin-bottom: 20px;
        height: 158px;
    }

    .image-link-2 ul li a .wrap {
        padding: 15px;
    }

    .image-link-2 ul li {
        margin-top: 0;

    }

    .image-link-2 ul li {
        margin-top: 0;

    }

    .image-link-2 ul li a .wrap .title {
        font-family: Hiragino Sans;
        font-size: 0.56em;
        line-height: 1.2;
        margin-bottom: 18px;
    }

    .image-link-2 ul li a .wrap .holiday {
        font-family: Hiragino Sans;
        font-size: 0.44em;
        line-height: 1.2;
        margin-bottom: 9px;
    }
}

/* LINE編 */

.line-place{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.age-option{
    display:block;
}
.age-line-button {
    height: 80px;
    display: inline-block;
    color: #00b602;
    text-align: center;
    padding: 0;
}
.age-line-button i {
    margin-bottom: 2px;
    font-size: 4.0em;
    float: left;
    align-content: center;
}
.open-win {
    padding: 5.5px;
    display: inline-block;
    font-size: 2.6em;
    font-weight: bold;
    letter-spacing: 0.08em;
    float: left;
    align-content: center;
}
