
* {
    box-sizing: border-box;
}

.foreword {
    width: 80%;
    height: 50%;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.61;
    letter-spacing: 1.4px;
    text-align: left;
    color: #4a4a4a;
    margin: 7% 15% 5% 10%;

}

.map {
    margin: 0 15% 10px 15%;
    height: auto;
    position: relative;
    max-width: 1200px;
}

.btn {
    width: 29%;
    height: auto;
    background-color: #003d9c;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.btn img {
    border: 1px solid white;
    float: left;
    width: 35%;
    height: 3%;
    margin: 6% 0 6% 6%;

}

.frame {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.ca {
    font-size: 2.5vh;
    float: right;
    text-align: center;
    font-family: HiraginoSans-W6;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: white;
    margin: 9.1% 15% 9.1% 0;
}

.us {
    font-size: 2.5vh;
    float: right;
    text-align: center;
    font-family: HiraginoSans-W6;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: white;
    margin: 9.1% 12% 9.1% 0;
}

.gb {
    font-size: 2.5vh;
    float: right;
    text-align: center;
    font-family: HiraginoSans-W6;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: white;
    margin: 9.1% 12% 9.1% 0;
}

.au {
    font-size: 2vh;
    float: right;
    text-align: center;
    font-family: HiraginoSans-W6;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    color: white;
    margin: 10.5% 5% 10.5% 0;
}

.nz {
    font-size: 1.5vh;
    float: right;
    text-align: center;
    font-family: HiraginoSans-W6;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: white;
    margin: 10.5% 5% 10.5% 0;
}

.caplace {
    position: absolute;
    right: -1%;
    top: 10%;
    z-index: 1;
}

.usplace {
    position: absolute;
    top: 37%;
    right: -10%;
    z-index: 1;
}

.gbplace {
    position: absolute;
    top: 12%;
    left: 6%;
    z-index: 1;

}

.auplace {
    position: absolute;
    top: 50%;
    left: 15%;
    z-index: 1;
}

.nzplace {
    position: absolute;
    top: 65%;
    right: 15%;
    z-index: 1;
}

.wplace {

}

.btn2 {
    display: none;
}

.btn3 {
    display: none;
}

.btn:hover {
    transition: all 0.2s;
    background-color: #003378;
}

.btn:active {
    transform: scale(0.92);
}

.btn2:active {
    transform: scale(0.92);
}

.btn3:active {
    transform: scale(0.92);
}

/* pc */
@media screen and (min-width: 961px) {
    /*ここにpc用スタイルを記述*/
    svg {
        max-width: 100%;
    }

}

/* tablet  */
@media only screen and (min-width: 641px) and (max-width: 960px) {
    /*ここにtablet用スタイルを記述*/
    .foreword {
        width: 80%;
        height: 50%;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.20;
        letter-spacing: 1.0px;
        text-align: left;
        color: #4a4a4a;
        margin: 7% 15% 5% 10%;
    }

    svg {
        max-width: 100%;
    }

    .frame {
        width: 155px;
        height: 45px;
    }

    .btn {
        width: 155px;
        height: 45px;
        background-color: #003d9c;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        display: inline-block;

    }

    .btn img {
        width: 51.5px;
        height: 28px;
        margin: 5.2% 0 5.2% 5.2%;
    }

    .ca {
        font-size: 13px;
        float: right;
        text-align: center;
        font-family: HiraginoSans-W6;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.1px;
        color: white;
        margin: 8% 15% 8% 0;
    }

    .us {
        font-size: 12px;
        float: right;
        text-align: center;
        font-family: HiraginoSans-W6;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.1px;
        color: white;
        margin: 9% 13% 9% 0;
    }

    .gb {
        font-size: 12px;
        float: right;
        text-align: center;
        font-family: HiraginoSans-W6;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.1px;
        color: white;
        margin: 9% 13% 9% 0;
    }

    .au {
        font-size: 8px;
        float: right;
        text-align: center;
        font-family: HiraginoSans-W6;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        color: white;
        margin: 10.5% 3% 10.5% 0;
    }

    .nz {
        font-size: 8px;
        float: right;
        text-align: center;
        font-family: HiraginoSans-W6;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        color: white;
        margin: 10.5% 1% 10.5% 0;
    }
}

/* smartPhone */
@media screen and (max-width: 640px) {

    /*ここにスマホ用スタイルを記述*/
    .foreword {
        font-size: 6px;
        line-height: 1.20;

    }

    svg {
        max-width: 100%;
    }

    .frame {
        width: 32px;
        height: 20px;
    }

    .btn {
        width: 32px;
        height: 20px;

    }

    .btn img {
        width: 28px;
        height: 16px;
        margin: 2px;
    }

    .ca {
        display: none;
    }

    .us {
        display: none;
    }

    .gb {
        display: none;
    }

    .au {
        display: none;
    }

    .nz {
        display: none;
    }

    .caplace {
        right: 10%;
    }

    .usplace {
        top: 43%;
        right: 0;
    }

    .gbplace {
        top: 20%;
    }

    .auplace {
        top: 60%;
        left: 30%;
    }

    .nzplace {
        top: 80%;
        right: 30%;
    }

    .frame2 {
        width: 120px;
        height: 34px;
        display: block;
        overflow: hidden;
    }

    .container {
        max-width: 250px;
        margin: 10px auto 20px;
    }

    .btn2 {
        width: 120px;
        height: 34px;
        background-color: #003d9c;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        display: inline-block;
        margin: 0 10px 10px 0;
    }

    .btn3 {
        width: 120px;
        height: 34px;
        background-color: #003d9c;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        display: inline-block;
        float: right;
        margin: 0 0 10px 0;
    }

    .btn2 img {
        border: 1px solid white;
        width: 48px;
        height: 26px;
        margin: 4px 0 4px 4px;
    }

    .btn3 img {
        border: 1px solid white;
        width: 48px;
        height: 26px;
        margin: 4px 0 4px 4px;
    }

    .ca2 {
        font-size: 16px;
        margin: 5px 10px;
        float: right;
        text-align: center;
        font-family: HiraginoSans-W6;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: white;
    }

    .us2 {
        font-size: 15px;
        margin: 5.5px 4px;
        float: right;
        text-align: center;
        font-family: HiraginoSans-W6;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: white;
    }

    .gb2 {
        font-size: 15px;
        margin: 5.5px 4px;
        float: right;
        text-align: center;
        font-family: HiraginoSans-W6;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: white;
    }

    .au2 {
        font-size: 11px;
        text-align: center;
        width: 50px;
        margin: 0 9px;
        float: right;
        text-align: center;
        font-family: HiraginoSans-W6;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: white;
    }

    .nz2 {
        font-size: 11px;
        text-align: center;
        width: 60px;
        float: right;
        text-align: center;
        font-family: HiraginoSans-W6;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: white;
        margin: 0 4px;
    }

}

